extends layout

block content
  .row
    .col-8
      ul.list-group
        for space in spaces
          li.list-group-item= space.name
    .col
      a.btn.btn-primary(href='/create-space') Create Space