extends layout

block content
  .row
    .col-8
      .list-group
        for space in spaces
          a(href=`/space/${space.slug}`).list-group-item
            .d-flex.justify-content-between
              h5.mb-1= space.name
              small=`created ${moment(space.createdAt).fromNow()}`
            div= space.description
    .col
      if user
        a.btn.btn-primary(href='/space/new') Create Space